<div>
    <input type="hidden" name="film_order" value="{{ film.pk }}">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a 
        hx-get="{% url 'detail' film.pk %}"
         hx-target="#film-list"
         hx-push-url="/films/{{ film.film.name }}"
        >#{{ film.order }} {{ film.film.name }}</a>
        <span class="badge badge-danger badge-pill" style="cursor: pointer;" hx-delete="{% url 'delete-film' film.pk %}" hx-target="#film-list" hx-confirm="Are you sure you wish to delete?">X</span>
    </li>
</div>